<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <trace
            autoflush="false"
            indentsize="4">
            <listeners>
                <add
                    name="debugListener"
                    type="System.Diagnostics.TextWriterTraceListener"
                    initializeData="debug.log" />                    
                <remove name="Default" />
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>
